# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore build files
app/build/

# Ignore database files
app/src/main/java/org/amadeus/amadeusserver/userAccounts.json
